@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap');
body{
    background-image: url(./img/superman.jpg);
    background-size: cover;
}
.all-div{
background-image: linear-gradient(to right, #8DA0AB, #A6ACB4);
padding: 40px;
border-radius: 20px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.row{
    margin-left: 60%;
    margin-top: 6%;
}
.form-controll{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #182239;
}
.btn{
    background-color: #440000 !important;
}
.btn:hover{
    background-color: #182239 !important;

}
.man{
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    color:#660000;
}